<headerform-component text="Filtros"></headerform-component>
<div class="box body">
    <div ng-include="'pages/atendimentoSearch.html'"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Data de Atendimento</th>
                <th>Horário</th>
                <th>Paciente</th>
                <th>Profissional</th>
                <th>Ocupação</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="atendimento in aCtrl.atendimentos">
                <td>{{ atendimento._id }}</td>
                <td>{{ atendimento.dtAtendimento | date:'dd/MM/yyyy' }}</td>
                <td>{{ atendimento.horaAtendimento | horaAtendimento }}</td>
                <td>{{ atendimento.paciente.nome }}</td>
                <td>{{ atendimento.profissional.nome }}</td>
                <td>{{ atendimento.ocupacao.nome }}</td>
                <td>{{ atendimento.estado }}</td>
                <td class="table-actions">
                    <button class="btn btn-info" ng-click="aCtrl.showEdit(atendimento)" ng-if="atendimento.estado == 'AGENDADO'"><i class="fa fa-play"></i></button>
                    <button class="btn btn-default" ng-click="aCtrl.showView(atendimento)"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-danger" ng-click="aCtrl.showCancel(atendimento)" ng-if="atendimento.estado == 'CONCLUÍDO'"><i class="fa fa-close"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
