<div class="col-xs-12 col-sm-6">
    <div class="form-group">
        <label>Profissional</label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-user-md"></i>
            </div>
            <select class="form-control" name="profissionalsearch" id="profissionalsearch" ng-model="eaCtrl.filter.profissional" 
                ng-options="s.nome for s in eaCtrl.profissionais track by s._id"><option value=""></option></select>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-3">
    <div class="form-group">
        <label>Data Atendimento</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="date" class="form-control pull-right" id="dtinicio" ng-change="eaCtrl.geraHorarios()" ng-model="eaCtrl.filter.dtAtendimento"/>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12">
    <div class="form-group">
        <!--<button class="btn btn-primary" 
            ng-click="aCtrl.getAtendimentos({profissional: aCtrl.filter.profissional, paciente: aCtrl.filter.paciente, dtInicio: aCtrl.filter.dtInicio, dtFinal: aCtrl.filter.dtFinal, estado: aCtrl.filter.estado})">Pesquisar</button>-->
        <button class="btn btn-warning" ng-click="eaCtrl.clearFilters()">Limpar</button>
        <button class="btn btn-info" ng-if="eaCtrl.filter.profissional && eaCtrl.filter.dtAtendimento" ng-click="eaCtrl.geraHorarios()">Atualizar</button>
    </div>
</div>
    