<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Exame</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="exameSol in aCtrl.atendimento.examesSolicitados">
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-newspaper-o"></i>
                        </div>
                        <select class="form-control" name="examesolicitado" id="examesolicitado" ng-disabled="aCtrl.tabDelete || aCtrl.tabUpdate" ng-model="exameSol.procedimento"
                            ng-options="p.nome for p in aCtrl.procedimentos track by p._id" ng-change="aCtrl.removeDuplicateObjects($index, 'exameSol', exameSol)"></select>
                    </div>
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="aCtrl.tabDelete || aCtrl.tabUpdate" ng-click="aCtrl.addObject($index, 'exameSol')"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-danger" ng-disabled="aCtrl.tabDelete || aCtrl.tabUpdate" ng-click="aCtrl.removeObject($index, 'exameSol')"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>