<header-component title="Medicamento" sub="Registros"></header-component>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="MedicamentoCtrl as mCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="mCtrl.tabList" ng-class="{active: mCtrl.tabList}">
                <a href data-target="#list" data-toggle="tab">
                    <i class="fa fa-bars"></i> Listar
                </a>
            </li>
            <li ng-if="mCtrl.tabCreate">
                <a href data-target="#insert" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir
                </a>
            </li>
            <li ng-if="mCtrl.tabUpdate" ng-class="{active: mCtrl.tabUpdate}">
                <a href data-target="#update" data-toggle="tab">
                    <i class="fa fa-edit"></i> Alterar
                </a>
            </li>
            <li ng-if="mCtrl.tabDelete" ng-class="{active: mCtrl.tabDelete}">
                <a href data-target="#delete" data-toggle="tab">
                    <i class="fa fa-eraser"></i> Excluir
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="list" ng-if="mCtrl.tabList" ng-class="{active: mCtrl.tabList}" ng-include="'pages/medicamentoList.html'"></div>
            <div class="tab-pane" id="insert" ng-if="mCtrl.tabCreate" ng-include="'pages/medicamentoForm.html'"></div>
            <div class="tab-pane" id="update" ng-if="mCtrl.tabUpdate" ng-class="{active: mCtrl.tabUpdate}" ng-include="'pages/medicamentoForm.html'"></div>
            <div class="tab-pane" id="delete" ng-if="mCtrl.tabDelete" ng-class="{active: mCtrl.tabDelete}" ng-include="'pages/medicamentoForm.html'"></div>
        </div>
    </div>
</section>