<header-component title="Paciente" sub="Registros"></header-component>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="PacienteCtrl as pCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="pCtrl.tabList" ng-class="{active: pCtrl.tabList}">
                <a href data-target="#list" data-toggle="tab">
                    <i class="fa fa-bars"></i> Listar
                </a>
            </li>
            <li ng-if="pCtrl.tabCreate">
                <a href data-target="#insert" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir
                </a>
            </li>
            <li ng-if="pCtrl.tabUpdate" ng-class="{active: pCtrl.tabUpdate}">
                <a href data-target="#update" data-toggle="tab">
                    <i class="fa fa-edit"></i> Alterar
                </a>
            </li>
            <li ng-if="pCtrl.tabDelete" ng-class="{active: pCtrl.tabDelete}">
                <a href data-target="#delete" data-toggle="tab">
                    <i class="fa fa-eraser"></i> Excluir
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="list" ng-if="pCtrl.tabList" ng-class="{active: pCtrl.tabList}" ng-include="'pages/pacienteList.html'"></div>
            <div class="tab-pane" id="insert" ng-if="pCtrl.tabCreate" ng-include="'pages/pacienteForm.html'"></div>
            <div class="tab-pane" id="update" ng-if="pCtrl.tabUpdate" ng-class="{active: pCtrl.tabUpdate}" ng-include="'pages/pacienteForm.html'"></div>
            <div class="tab-pane" id="delete" ng-if="pCtrl.tabDelete" ng-class="{active: pCtrl.tabDelete}" ng-include="'pages/pacienteForm.html'"></div>
        </div>
    </div>
</section>