<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Medicamento</th>
                <th>Instruções | Posologia</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="receituario in aCtrl.atendimento.receituario">
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-eyedropper"></i>
                        </div>
                        <select class="form-control" name="medicamento" id="medicamento" ng-disabled="aCtrl.tabDelete || aCtrl.tabUpdate" ng-model="receituario.medicamento"
                            ng-options="m.nomeGenerico for m in aCtrl.medicamentos track by m._id" ng-change="aCtrl.removeDuplicateObjects($index, 'receituario', receituario)"></select>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-list"></i>
                        </div>
                        <input type="text" class="form-control" name="notareceituario" ng-disabled="aCtrl.tabDelete || aCtrl.tabUpdate" id="notareceituario" ng-model="receituario.instrucoes"/>
                    </div>
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="aCtrl.tabDelete || aCtrl.tabUpdate" ng-click="aCtrl.addObject($index, 'receituario')"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-danger" ng-disabled="aCtrl.tabDelete || aCtrl.tabUpdate" ng-click="aCtrl.removeObject($index, 'receituario')"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>