<header-component title="Profissional" sub="Registros"></header-component>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="ProfissionalCtrl as prCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="prCtrl.tabList" ng-class="{active: prCtrl.tabList}">
                <a href data-target="#list" data-toggle="tab">
                    <i class="fa fa-bars"></i> Listar
                </a>
            </li>
            <li ng-if="prCtrl.tabCreate">
                <a href data-target="#insert" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir
                </a>
            </li>
            <li ng-if="prCtrl.tabUpdate" ng-class="{active: prCtrl.tabUpdate}">
                <a href data-target="#update" data-toggle="tab">
                    <i class="fa fa-edit"></i> Alterar
                </a>
            </li>
            <li ng-if="prCtrl.tabDelete" ng-class="{active: prCtrl.tabDelete}">
                <a href data-target="#delete" data-toggle="tab">
                    <i class="fa fa-eraser"></i> Excluir
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="list" ng-if="prCtrl.tabList" ng-class="{active: prCtrl.tabList}" ng-include="'pages/profissionalList.html'"></div>
            <div class="tab-pane" id="insert" ng-if="prCtrl.tabCreate" ng-include="'pages/profissionalForm.html'"></div>
            <div class="tab-pane" id="update" ng-if="prCtrl.tabUpdate" ng-class="{active: prCtrl.tabUpdate}" ng-include="'pages/profissionalForm.html'"></div>
            <div class="tab-pane" id="delete" ng-if="prCtrl.tabDelete" ng-class="{active: prCtrl.tabDelete}" ng-include="'pages/profissionalForm.html'"></div>
        </div>
    </div>
</section>