<div class="box body">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Vínculo</th>
                <th>Data de Admissão</th>
                <th>Estado</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="profissional in prCtrl.profissionais">
                <td>{{ profissional.nome }}</td>
                <td>{{ profissional.ocupacao.nome }} - CBO: {{ profissional.ocupacao.cbo }}</td>
                <td>{{ profissional.dtAdmissao | date:'dd/MM/yyyy' }}</td>
                <td ng-if="!profissional.dtDemissao">Ativo</td>
                <td ng-if="profissional.dtDemissao">Desativado</td>
                <td class="table-actions">
                    <button class="btn btn-warning" ng-click="prCtrl.showUpdate(profissional)" ng-if="!profissional.dtDemissao"><i class="fa fa-pencil"></i></button>
                    <!--<button class="btn btn-danger" ng-click="prCtrl.showRemove(profissional)"><i class="fa fa-trash-o"></i></button>-->
                </td>
            </tr>
        </tbody>
    </table>
</div>
