<header-component title="Usuário" sub="Registros"></header-component>

<section class="content">
    <div class="nav-tabs-custom" ng-controller="UsuarioCtrl as uctrl">
        <ul class="nav nav-tabs">
            <li ng-if="uctrl.tabList" ng-class="{active: uctrl.tabList}">
                <a href data-target="#list" data-toggle="tab">
                    <i class="fa fa-bars"></i> Listar
                </a>
            </li>
            <li ng-if="uctrl.tabCreate">
                <a href data-target="#insert" data-toggle="tab">
                    <i class="fa fa-plus"></i> Incluir
                </a>
            </li>
            <li ng-if="uctrl.tabUpdate" ng-class="{active: uctrl.tabUpdate}">
                <a href data-target="#update" data-toggle="tab">
                    <i class="fa fa-edit"></i> Alterar
                </a>
            </li>
            <li ng-if="uctrl.tabDelete" ng-class="{active: uctrl.tabDelete}">
                <a href data-target="#delete" data-toggle="tab">
                    <i class="fa fa-eraser"></i> Excluir
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="list" ng-if="uctrl.tabList" ng-class="{active: uctrl.tabList}" ng-include="'pages/usuarioList.html'"></div>
            <div class="tab-pane" id="insert" ng-if="uctrl.tabCreate" ng-include="'pages/usuarioForm.html'"></div>
            <div class="tab-pane" id="update" ng-if="uctrl.tabUpdate" ng-class="{active: uctrl.tabUpdate}" ng-include="'pages/usuarioForm.html'"></div>
            <div class="tab-pane" id="delete" ng-if="uctrl.tabDelete" ng-class="{active: uctrl.tabDelete}" ng-include="'pages/usuarioForm.html'"></div>
        </div>
    </div>
</section>